a, a:visited{
    color: black;
}

.LogIn, .Registration, .ResetPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogIn form label, .Registration form label, .ResetPassword form label {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 15px;
}

.LogIn form label span, .Registration form label span{
    font-size: 12px;
    color: red;
    display: none;
}

.LogIn form label input, .Registration form label input, .ResetPassword form label input {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 2px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.LogIn form input[type='submit'], .Registration form input[type='submit'], .ResetPassword form input[type='submit'] {
    padding: 5px 10px;
    background: #eee;
    border: 1px solid rgba(0, 0, 255, .3);
    border-radius: 50px;
    font-size: 16px;
    margin-right: 10px;
    transition: background .2s;
}

.LogIn form input[type='submit']:hover, .Registration form input[type='submit']:hover, .ResetPassword form input[type='submit']:hover {
    cursor: pointer;
    background: rgb(155, 155, 255, .2);
}

.LogIn form a, .Registration form a, .ResetPassword form a {
    font-size: 16px;
}

.password-reset {
    margin-left: 20px;
}

.ResetPassword p {
    border-radius: 10px;
    display: block;
    padding: 10px;
    margin: 0 60px;
    background: rgba(0, 200, 0, .2);
}

.ResetPassword span{
    font-size: 12px;
    color: red;
}